@inherits LayoutComponentBase

<nav class="navbar fixed-top bg-body-tertiary bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold fst-italic text-light" href="#">Shorty</a>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item disabled" href="#">Profile</a>
                </li>
                <hr>
                <li>
                    <a class="dropdown-item" href="#">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="d-flex flex-column flex-shrink-0 p-3 position-fixed h-100 bg-light" style="width: 280px">
    <div style="height: 56px"></div>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/" class="nav-link" aria-current="page">
                <i class="bi bi-house-door"></i> Home
            </a>
        </li>
        <li>
            <a href="/dashboard" class="nav-link disabled">
                <i class="bi bi-graph-up-arrow"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="/shorthands" class="nav-link">
                <i class="bi bi-globe2"></i> Shorthands
            </a>
        </li>
        <li>
            <a href="#" class="nav-link disabled">
                <i class="bi bi-journal-text"></i> Gists
            </a>
        </li>
        <li>
            <a href="/settings" class="nav-link disabled">
                <i class="bi bi-gear"></i> Settings
            </a>
        </li>
    </ul>
    <hr>
    <i class="text-center footnote">
        Shorty version 3.0, &#169; @currentYear
    </i>
</div>
<style>
.footnote {
    font-size: 0.75rem;
}
</style>
<div style="padding: 76px 40px 0px 320px;">
    @Body
</div>


@code {

    private readonly string currentYear = DateTime.Now.Year.ToString();

}
