body {
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20%;
    text-align: center;
}

input {
    height: 2rem;
    width: 25%;
}

button {
    height: 2.5rem;
}

h2 {
    padding-top: 1rem;
}
